.App {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.balanceinput {
  font-size: 20px;
  margin-top: 10px;
}
.overview {
  display: flex;
}

.column {
  margin: 50px;
}
.item {
  width: 150px;
  font-size: 15px;
  border-bottom: 1px solid white;
}
.itemgreen {
  font-size: 15px;
  width: 150px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
}
.itemred {
  font-size: 15px;
  width: 150px;
  color: red;
  border-bottom: 1px solid white;
}

.test {
  display: flex;
}

.werehousename {
  color: #198754;
}
.page {
  display: flex;
}
